
<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat Dem Burgers!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/cute_burger.jpg">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
  
    <!-- Page Container -->
    <div class="container">

      <!-- Cute Burger -->
      <center>
        <div class="row">
          <img src="/assets/img/cute_burger.jpg">
        </div>
      </center>

      <!-- Title -->
      <center>
        <h1 class="green_font">Eat Dem Burgers!</h1>
        <h2 class="green_font">NOM!  NOM!  NOM!</h2>
      </center>
      

      <!-- Burger Content from index.handlebars -->
      {{{body}}}

      <!-- Input New Burgers Form -->
      <form action="burger/create" method="POST"> 
        
        <!-- Input Section -->
        <div class="row">

          <!-- Center -->
          <div class="col-md-3"></div> 

          <!-- Form Input -->
          <div class="form-group col-md-6">
          	<br><br>
          <input class="form-control" type="text" id="name" name="burger_name" placeholder="Your Burger Creation Goes Here">
          </div>

          <!-- Center -->
          <div class="col-md-3"></div> 
        </div>
      
        <!-- Submit -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger btn btn-primary btn-lg">Submit</button>
        </center>

      </form>

    </div>

    <!-- Link in jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  </body>
</html>